/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 375px;
  min-block-size: 100vb;
  font-family: var(--main-font, "Inter", sans-serif);
  color: var(--main-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-regular, 400);
}

.header {
  margin: 100px 0px;
  /* min-height: 323px; */
  /* width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem); */
  width: clamp(22.9375rem, 15.7852rem + 30.5164vw, 43.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--border-color);
  text-align: center;
  background-color: var(--background-color);
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
}

.header-title {
  margin-block-start: 120px;
  font-family: var(--accent-font, fantasy);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: 49px;
  cursor: pointer;
}

.header-subtitle {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: 14px;
}

.header__theme-menu {
  margin-block-start: 24px;
  margin-block-end: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--color-hover);
  inset-inline-start: -20px;
  inset-block-start: 0px;
  animation: rotatemove 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  color: var(--color-hover);
  pointer-events: none;
}

.theme-menu__button,
.theme-menu__button:hover {
  border: transparent;
  background-color: transparent;
  text-decoration: none;
}

.theme-menu__button:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  border: transparent;
  background-color: transparent;
}

.theme-menu__button:focus-visible {
  color: var(--color-hover);
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--color-hover);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}
/* Конец Header */

/* Начало main */
.main {
  width: clamp(22.9375rem, 15.7852rem + 30.5164vw, 43.25rem);
}

.card-title {
  padding: 4px 10px 6px 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  font-variation-settings: "wght" var(--font-weight-large, 700);
}

.card {
  border: 2px solid var(--border-color);
}

.cards-item:not(:last-child) {
  margin-block-end: 52px;
}

.cards-item {
  background-color: var(--background-color);
}

.card-image__wrapper {
  position: relative;
  /* outline: 2px solid var(--border-color); */
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.watermark {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 12px;
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--main-color);
  text-shadow: -1px 0 var(--watermark-border), 0 1px var(--watermark-border),
    1px 0 var(--watermark-border), 0 -1px var(--watermark-border);
  opacity: 50%;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--watermark-border)) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-border);
    -webkit-text-stroke-width: 1px;
    text-shadow: none;
  }
}

.card-image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.card-text {
  padding: 25px 25px 0px;
}

.footer-card {
  margin: 25px 25px 25px 0px;
  display: flex;
  justify-content: end;
  align-items: stretch;
  column-gap: 5px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  height: 38px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

/* Button-memory */
.button-memory {
  display: flex;
  justify-content: center;
}

.button-save {
  margin: 54px 35px 102px;
  width: 306px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  border: 2px solid var(--border-color);
  cursor: pointer;
  transition: 0.3s ease;
  appearance: none;
  color: var(--button-hover-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px;
}

.button::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text,
.floppy {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
}

/* Modal */
.modal {
  padding: 30px 42px;
  color: var(--main-color);
  background-color: var(--background-color);
  text-transform: uppercase;
  font-family: var(--accent-font, fantasy);
  overflow-x: hidden;
}

.modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal-text {
  flex-shrink: 3;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.modal-button {
  inline-size: 100%;
  width: 257px;
  height: 38px;
  text-transform: uppercase;
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-multiple {
  filter: contrast(200%) blur(3px);
}

.filter-brightness {
  filter: brightness(300%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

@media (width > 375px) {
  .page {
    padding: 0 clamp(0rem, -7.9623rem + 33.9726vw, 23.25rem);
  }

  .modal {
    max-width: 357px;
  }

  .header-title {
    margin-block-start: 138px;
    margin-block-end: 18px;
  }

  .button-save {
    flex-direction: row;
    align-items: center;
    width: 335px;
    height: 51px;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}
